.mud-cal-cell-template {
  width: 100%;
  padding: 2px;
  min-height: 36px;
}

.mud-cal-week-view .mud-cal-cell-template {
  height: 100%;
}

.mud-cal-week-view .mud-cal-cell-template-chip {
  height: 100%;
}

.mud-cal-cell-template-chip {
  width: 100%;
  margin: 0;
}
