/* Initially hide all month view items */
.mud-cal-month-view .mud-cal-drop-item {
    opacity: 0;
    transition: opacity 0.05s ease-out;
}

    /* Fade visible month view items in after JavaScript positions them */
    .mud-cal-month-view .mud-cal-drop-item.mud-cal-positioned {
        opacity: 1;
    }

/* Week and day view items are positioned by Blazor, so show immediately */
.mud-cal-week-view .mud-cal-drop-item,
.mud-cal-day-view .mud-cal-drop-item {
    opacity: 1;
}

.mud-cal-drop-item .mud-drop-item {
  height: 100%;
  border: none;
}

.mud-cal-drop-item .mud-drop-item.disabled {
  cursor: inherit;
}

.mud-cal-drop-ok {
  background-color: var(--mud-cal-cell-hover);
}

.mud-cal-resizer-x {
  position: absolute;
  right: 0;
  height: 100%;
  border-right: 10px solid transparent;
  z-index: 1;
  cursor: ew-resize;
}

.mud-cal-resizer-y {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: 10px solid transparent;
  z-index: 1;
  cursor: ns-resize;
}