.mud-cal-month-view {
  height: 100%;
}

.mud-cal-month-grid-header {
  .mud-cal-month-header {
    border-right: none;
  }
}

.mud-cal-month-layer {
  //position: absolute;
  //top: 0;
  //left: 0;
  width: 100%;
  //min-height: 100%;
  flex-grow: 1;
  display: block;
}

.mud-cal-month-cell {
  height: 100%;
  border-right: 1px solid var(--mud-palette-table-lines);
  border-top: 1px solid var(--mud-palette-table-lines);
}


.mud-cal-month-cell-title {
  padding: 8px;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &.mud-cal-month-outside {
    color: var(--mud-palette-text-disabled);
  }
}

.mud-cal-month-cell-link {
  color: inherit !important;
  cursor: pointer;
}

.mud-cal-month-cell-link:hover {
  text-transform: none !important;
}

.mud-cal-month-link {
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.mud-cal-month-link:hover {
  background-color: var(--mud-cal-cell-hover);
}

.mud-cal-month-row-holder {
  position: relative;
  display: flex;
  flex-direction: row;
}

.mud-cal-drop-ok {
  .mud-cal-month-cell-title {
    background-color: var(--mud-cal-cell-hover);
  }
}

.mud-cal-month-table-holder {
  display: flex;
  flex-direction: column;
  height: 100%;
}