.mud-cal-month-view {
  height: 100%;
}

.mud-cal-month-fixed-height {
  .mud-cal-month-cell {
    overflow-y: auto;
  }
}

.mud-cal-month-cell {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mud-cal-month-cell-title {
  padding: 8px;

  &.mud-cal-month-outside {
    color: var(--mud-palette-text-disabled);
  }

  .mud-link {
    color: inherit !important;
    cursor: pointer;
  }
}

.mud-cal-month-cell-events {
  flex-grow: 1;
}

.mud-cal-month-link {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.mud-cal-month-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}