.mud-cal-week-view {
  height: 100%;
  
  table {
    border-collapse: separate;
    
    * tr {
      > td {
        border-bottom: none;
      }
    }
  }
}

.mud-cal-week-cell {
  border-top: 1px solid var(--mud-palette-lines-default);

  &.mud-cal-week-cell-half {
    border-top: 1px solid var(--mud-palette-divider);
  }
}

.mud-cal-time-column {
  width: 60px;
}

.mud-cal-time-cell {
  text-align: center;
}

.mud-cal-week-day-holder {
  height: 100%;
  position: relative;
}

.mud-cal-week-scroll {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.mud-cal-week-layer {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.mud-cal-week-cell-holder {
  position: relative;
  border: none;
}

.mud-cal-week-link {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.mud-cal-week-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.mud-cal-week-cell-link {
  cursor: pointer;
  z-index: 100;
}

.mud-cal-week-drop-item {
  transition: none;
}

.mud-cal-week-drop-item > .mud-drop-item {
  height: 100%;
  border: none;
}

.mud-cal-week-drop-ok {
  background-color: var(--mud-cal-cell-hover);
}

.mud-cal-resizer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: 10px solid transparent;
  z-index: 1;
  cursor: ns-resize;
}