.mud-cal-week-view {
  height: 100%;
}

.mud-cal-week-grid {
  grid-template-columns: 60px repeat(7, 1fr);
  > div.mud-cal-week-not-today {
    border-right: 1px solid var(--mud-palette-table-lines);
  }
  > div:nth-child(8n) {
    border-right: none;
  }
}

.mud-cal-work-week-grid {
    grid-template-columns: 60px repeat(5, 1fr);

    > div.mud-cal-week-not-today {
        border-right: 1px solid var(--mud-palette-table-lines);
    }

    > div:nth-child(6n) {
        border-right: none;
    }
}

.mud-cal-day-grid {
  grid-template-columns: 60px 1fr;
  > div {
    border-right: 1px solid var(--mud-palette-table-lines);
  }
  > div:nth-child(2n) {
    border-right: none;
  }
}

.mud-cal-work-week-header {
    grid-template-columns: 60px repeat(5, 1fr);
    border-bottom: 1px solid var(--mud-palette-table-lines);
}

.mud-cal-week-header {
  grid-template-columns: 60px repeat(7, 1fr);
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid var(--mud-palette-table-lines);
}

.mud-cal-day-header {
  grid-template-columns: 60px 1fr;
  border-bottom: 1px solid var(--mud-palette-table-lines);
}

.mud-cal-week-cell {
  border-top: 1px solid var(--mud-palette-lines-default);
  position: relative;

  &.mud-cal-week-cell-half {
    border-top: 1px solid var(--mud-palette-divider);
  }
}

.mud-cal-time-column {
  width: 60px;
}

.mud-cal-time-cell {
  text-align: center;
}

.mud-cal-week-day-holder {
  height: 100%;
  position: relative;
}

.mud-cal-week-scroll {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.mud-cal-week-layer {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.mud-cal-week-cell-holder {
  position: relative;
  border: none;
}

.mud-cal-week-link {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

@media (hover: hover) {
  .mud-cal-week-link:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.mud-cal-week-cell-link {
  cursor: pointer;
  z-index: 100;
}

.mud-cal-week-template-holder {
  height: 100%;
}

.cell-selected {
  background-color: rgba(0, 0, 0, 0.05);
}

.mud-cal-translucent-for-dragging {
    opacity: 0.5;
    pointer-events: none;
    filter: grayscale(0.5);
}