.mud-cal-week-view {
  height: 100%;
  
  table {
    * tr {
      > td {
        border-bottom: none;
      }
    }
  }
}

.mud-cal-week-cell {
  border-top: 1px solid var(--mud-palette-lines-default);
  height: 36px;

  &.mud-cal-week-cell-half {
    border-top: 1px solid var(--mud-palette-divider);
  }
}

.mud-cal-week-height {
  height: 36px;
}

.mud-cal-time-column {
  width: 60px;
}

.mud-cal-time-cell {
  text-align: center;
}

.mud-cal-week-day-holder {
  height: 100%;
}

.mud-cal-week-scroll {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.mud-cal-week-layer {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.mud-cal-week-cell-holder {
  position: relative;
}

.mud-cal-week-link {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.mud-cal-week-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.mud-cal-week-cell-link {
  cursor: pointer;
  z-index: 100;
}
