.mud-calendar {
  color: var(--mud-palette-text-primary);
  background-color: var(--mud-palette-surface);
  border-radius: var(--mud-default-borderradius);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding-top: 8px;
  display: grid;
  user-select: none;
}
.mud-calendar.mud-cal-square {
  border-radius: 0;
}
.mud-calendar.mud-cal-outlined {
  border: 1px solid var(--mud-palette-lines-default);
}
.mud-calendar table {
  width: 100%;
  height: 100%;
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
}
.mud-calendar table thead {
  display: table-header-group;
}
.mud-calendar table thead th {
  padding: 8px;
  text-align: center;
}
.mud-calendar table tbody {
  display: table-row-group;
}
.mud-calendar table tbody td {
  border-right: 1px solid var(--mud-palette-table-lines);
}
.mud-calendar table * tr {
  color: inherit;
  display: table-row;
  outline: 0;
}
.mud-calendar table * tr > td, .mud-calendar table * tr th {
  display: table-cell;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43;
  border-bottom: 1px solid var(--mud-palette-table-lines);
  letter-spacing: 0.01071em;
  vertical-align: inherit;
}
.mud-calendar table * tr > td:last-child, .mud-calendar table * tr th:last-child {
  border-right: none;
}
.mud-calendar table * tr > th {
  font-weight: 500;
  line-height: 1.5rem;
}
.mud-calendar table tbody tr:last-child td {
  border-bottom: none;
}
.mud-calendar .mud-picker {
  display: inline;
}

.mud-cal-toolbar {
  display: flex;
  justify-content: space-between;
}

:root {
  --mud-cal-cell-hover: color-mix(in srgb, var(--mud-palette-surface) 90%, black);
}

.mud-cal-month-view {
  height: 100%;
}

.mud-cal-month-fixed-height .mud-cal-month-cell {
  overflow-y: auto;
}

.mud-cal-month-cell {
  height: 100%;
  width: 100%;
  display: inline-table;
}

.mud-cal-month-cell-title {
  padding: 8px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--mud-palette-surface);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.mud-cal-month-cell-title.mud-cal-month-outside {
  color: var(--mud-palette-text-disabled);
}
.mud-cal-month-cell-title .mud-link {
  color: inherit !important;
  cursor: pointer;
}

.mud-cal-month-link {
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.mud-cal-month-link:hover {
  background-color: var(--mud-cal-cell-hover);
}
.mud-cal-month-link:hover .mud-cal-month-cell-title {
  background-color: var(--mud-cal-cell-hover);
}

.mud-cal-month-dropzone {
  height: 100%;
  min-height: inherit;
  overflow-y: scroll;
}

.mud-cal-month-drop-ok {
  background-color: var(--mud-cal-cell-hover);
}
.mud-cal-month-drop-ok .mud-cal-month-cell-title {
  background-color: var(--mud-cal-cell-hover);
}

.mud-cal-month-table-holder {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mud-calendar table.mud-cal-month-table-header {
  height: 0;
}

.mud-cal-month-table-body {
  flex-grow: 1;
}

.mud-cal-week-view {
  height: 100%;
}
.mud-cal-week-view table {
  border-collapse: separate;
}
.mud-cal-week-view table * tr > td {
  border-bottom: none;
}

.mud-cal-week-cell {
  border-top: 1px solid var(--mud-palette-lines-default);
  position: relative;
}
.mud-cal-week-cell.mud-cal-week-cell-half {
  border-top: 1px solid var(--mud-palette-divider);
}

.mud-cal-time-column {
  width: 60px;
}

.mud-cal-time-cell {
  text-align: center;
}

.mud-cal-week-day-holder {
  height: 100%;
  position: relative;
}

.mud-cal-week-scroll {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.mud-cal-week-layer {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.mud-cal-week-cell-holder {
  position: relative;
  border: none;
}

.mud-cal-week-link {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.mud-cal-week-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.mud-cal-week-cell-link {
  cursor: pointer;
  z-index: 100;
}

.mud-cal-week-drop-item {
  transition: none;
}

.mud-cal-week-drop-item > .mud-drop-item {
  height: 100%;
  border: none;
}

.mud-cal-week-drop-ok {
  background-color: var(--mud-cal-cell-hover);
}

.mud-cal-week-template-holder {
  height: 100%;
}

.mud-cal-resizer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: 10px solid transparent;
  z-index: 1;
  cursor: ns-resize;
}

.mud-cal-cell-template {
  width: 100%;
  padding: 2px;
  min-height: 36px;
}

.mud-cal-week-view .mud-cal-cell-template {
  height: 100%;
}

.mud-cal-week-view .mud-cal-cell-template-chip {
  height: 100%;
}

.mud-cal-cell-template-chip {
  width: 100%;
  margin: 0;
}

.mud-cal-clickable {
  cursor: pointer;
}
.mud-cal-clickable .mud-chip {
  cursor: inherit;
}