.mud-calendar {
  --mud-cal-cell-hover: color-mix(in srgb, var(--mud-palette-surface) 90%, black);
  color: var(--mud-palette-text-primary);
  background-color: var(--mud-palette-surface);
  border-radius: var(--mud-default-borderradius);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: grid;
  user-select: none;
  width: 100%;
  overflow: hidden;
}
.mud-calendar.mud-cal-square {
  border-radius: 0;
}
.mud-calendar.mud-cal-outlined {
  border: 1px solid var(--mud-palette-lines-default);
}
.mud-calendar .mud-cal-grid {
  width: 100%;
  height: 100%;
  display: grid;
}
.mud-calendar .mud-cal-grid > div {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  vertical-align: inherit;
}
.mud-calendar .mud-calendar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.mud-calendar .mud-cal-grid-header {
  display: grid;
  text-align: center;
  font-weight: 500;
  line-height: 1.5rem;
}
.mud-calendar .mud-picker {
  display: inline;
}
.mud-calendar .mud-cal-toolbar {
  display: flex;
  justify-content: space-between;
  column-gap: 4px;
  overflow-x: auto;
}
.mud-calendar .mud-cal-toolbar .mud-button-label {
  white-space: nowrap;
}
.mud-calendar .mud-cal-toolbar-nav {
  display: flex;
  justify-content: space-between;
  column-gap: 4px;
}
.mud-calendar .mud-cal-overflow-message {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 0;
  padding-bottom: 4px;
  padding-left: 8px;
}
.mud-calendar .mud-cal-overflow-message .mud-cal-clickable {
  cursor: pointer;
}
.mud-calendar .mud-cal-overflow-hidden {
  visibility: hidden;
}

.mud-cal-month-view {
  height: 100%;
}

.mud-cal-month-grid-header .mud-cal-month-header {
  border-right: none;
}

.mud-cal-month-layer {
  width: 100%;
  flex-grow: 1;
  display: block;
}

.mud-cal-month-cell {
  height: 100%;
  border-right: 1px solid var(--mud-palette-table-lines);
  border-top: 1px solid var(--mud-palette-table-lines);
}

.mud-cal-month-cell-title {
  padding: 8px;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.mud-cal-month-cell-title.mud-cal-month-outside {
  color: var(--mud-palette-text-disabled);
}

.mud-cal-month-cell-link {
  color: inherit !important;
  cursor: pointer;
}

.mud-cal-month-cell-link:hover {
  text-transform: none !important;
}

.mud-cal-month-link {
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.mud-cal-month-link:hover {
  background-color: var(--mud-cal-cell-hover);
}

.mud-cal-month-row-holder {
  position: relative;
  display: flex;
  flex-direction: row;
}

.mud-cal-drop-ok .mud-cal-month-cell-title {
  background-color: var(--mud-cal-cell-hover);
}

.mud-cal-month-table-holder {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mud-cal-week-view {
  height: 100%;
}

.mud-cal-week-grid {
  grid-template-columns: 60px repeat(7, 1fr);
}
.mud-cal-week-grid > div.mud-cal-week-not-today {
  border-right: 1px solid var(--mud-palette-table-lines);
}
.mud-cal-week-grid > div:nth-child(8n) {
  border-right: none;
}

.mud-cal-work-week-grid {
  grid-template-columns: 60px repeat(5, 1fr);
}
.mud-cal-work-week-grid > div.mud-cal-week-not-today {
  border-right: 1px solid var(--mud-palette-table-lines);
}
.mud-cal-work-week-grid > div:nth-child(6n) {
  border-right: none;
}

.mud-cal-day-grid {
  grid-template-columns: 60px 1fr;
}
.mud-cal-day-grid > div {
  border-right: 1px solid var(--mud-palette-table-lines);
}
.mud-cal-day-grid > div:nth-child(2n) {
  border-right: none;
}

.mud-cal-work-week-header {
  grid-template-columns: 60px repeat(5, 1fr);
  border-bottom: 1px solid var(--mud-palette-table-lines);
}

.mud-cal-week-header {
  grid-template-columns: 60px repeat(7, 1fr);
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid var(--mud-palette-table-lines);
}

.mud-cal-day-header {
  grid-template-columns: 60px 1fr;
  border-bottom: 1px solid var(--mud-palette-table-lines);
}

.mud-cal-week-cell {
  border-top: 1px solid var(--mud-palette-lines-default);
  position: relative;
}
.mud-cal-week-cell.mud-cal-week-cell-half {
  border-top: 1px solid var(--mud-palette-divider);
}

.mud-cal-time-column {
  width: 60px;
}

.mud-cal-time-cell {
  text-align: center;
}

.mud-cal-week-day-holder {
  height: 100%;
  position: relative;
}

.mud-cal-week-scroll {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.mud-cal-week-layer {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.mud-cal-week-cell-holder {
  position: relative;
  border: none;
}

.mud-cal-week-link {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.mud-cal-week-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.mud-cal-week-cell-link {
  cursor: pointer;
  z-index: 100;
}

.mud-cal-week-template-holder {
  height: 100%;
}

.cell-selected {
  background-color: rgba(0, 0, 0, 0.05);
}

.mud-cal-cell-template {
  width: 100%;
  padding: 2px;
  min-height: 36px;
}

.mud-cal-week-view .mud-cal-cell-template {
  height: 100%;
}

.mud-cal-week-view .mud-cal-cell-template-chip {
  height: 100%;
}

.mud-cal-cell-template-chip {
  width: 100%;
  margin: 0;
}
.mud-cal-cell-template-chip .mud-chip-content {
  overflow: hidden;
}

.mud-cal-clickable {
  cursor: pointer;
}
.mud-cal-clickable .mud-chip {
  cursor: inherit;
}

/* Initially hide all month view items */
.mud-cal-month-view .mud-cal-drop-item {
  opacity: 0;
  transition: opacity 0.05s ease-out;
}

/* Fade visible month view items in after JavaScript positions them */
.mud-cal-month-view .mud-cal-drop-item.mud-cal-positioned {
  opacity: 1;
}

.mud-cal-drop-item .mud-drop-item {
  height: 100%;
  border: none;
}

.mud-cal-drop-item .mud-drop-item.disabled {
  cursor: inherit;
}

.mud-cal-drop-ok {
  background-color: var(--mud-cal-cell-hover);
}

.mud-cal-resizer-x {
  position: absolute;
  right: 0;
  height: 100%;
  border-right: 10px solid transparent;
  z-index: 1;
  cursor: ew-resize;
}

.mud-cal-resizer-y {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: 10px solid transparent;
  z-index: 1;
  cursor: ns-resize;
}