@namespace Heron.MudCalendar.Docs.Examples

<MudCalendar Items="_events">
    <MonthTemplate>
        <div class="d-flex gap-1">
            <MudIcon Icon="@Icons.Material.Filled.Circle" Color="Color.Secondary" Size="Size.Small"/>
            <div>@context.Text</div>
        </div>
    </MonthTemplate>
    <WeekTemplate>
        <div class="pa-1" style="width: 100%; height: 100%;">
            <MudChip T="string" Variant="Variant.Outlined" Color="Color.Tertiary" Class="ma-0" Style="width: 100%; height: 100%;">@context.Text</MudChip>
        </div>
    </WeekTemplate>
</MudCalendar>

@code {

    private List<CalendarItem> _events = new()
    {
        new CalendarItem
        {
            Start = DateTime.Today.AddHours(10),
            End = DateTime.Today.AddHours(11),
            Text = "Event today"
        },
        new CalendarItem
        {
            Start = DateTime.Today.AddDays(1).AddHours(11),
            End = DateTime.Today.AddDays(1).AddHours(12.5),
            Text = "Event tomorrow"
        }
    };

}