<MudPopoverProvider />

<MudCalendar Items="_events" T="CalendarItem" ItemContextMenuClicked="OnItemContextMenuClicked" DayTimeInterval="CalendarTimeInterval.Minutes60" />

<MudMenu @ref="_contextMenu">
    <MudMenuItem Icon="@MudBlazor.Icons.Material.Outlined.EditCalendar" OnClick="OnEditItemClicked">Edit Item</MudMenuItem>
    <MudMenuItem Icon="@MudBlazor.Icons.Material.Outlined.Delete" OnClick="OnDeleteItemClicked">Delete Item</MudMenuItem>
</MudMenu>

<MudPopover @bind-Open="@_openPopup" Fixed="true" Class="px-4 pt-4" lo>
    <div class="d-flex flex-column">
        <MudText>Edit @_contextItem.Text clicked</MudText>
    </div>
</MudPopover>

@code {
    public static string __description__ = "Item Context Menu Click Test";

    private MudMenu _contextMenu;
    private CalendarItem _contextItem;
    private bool _openPopup;

    private List<CalendarItem> _events = new()
    {
        new CalendarItem
        {
            Start = DateTime.Today.AddHours(9),
            End = DateTime.Today.AddHours(10),
            Text = "Event 1"
        },
        new CalendarItem
        {
            Start = DateTime.Today.AddHours(10),
            End = DateTime.Today.AddHours(11),
            Text = "Event 2"
        }
    };

    private async Task OnItemContextMenuClicked(CalendarItemClickEventArgs<CalendarItem> args)
    {
        _contextItem = args.Item;
        await _contextMenu.OpenMenuAsync(args.MouseEventArgs);
    }

    private void OnEditItemClicked() => _openPopup = true;

    private void OnDeleteItemClicked() => _events.Remove(_contextItem);
}