@inherits MonthView

@Render

@code {

    protected override RenderFragment RenderCellDayNumber(CalendarCell cell) =>
        @<div class="ma-2">
            <MudAvatar Color="Color.Primary">@cell.Date.Day</MudAvatar>
        </div>;

}
