@namespace Heron.MudCalendar
@using Heron.MudCalendar.Enums
@typeparam T where T : Enum

<div class="@Classname">
    <MudToggleGroup T="T" Value="Value" Color="@Color" ValueChanged="(v) => ButtonClicked(v)">
        @foreach (T value in Enum.GetValues(Type))
        {
            if (AllowedValues == null || AllowedValues.Contains(value))
            {
                <MudToggleItem Value="@value" Text="@Label(value)" />
            }
        }
    </MudToggleGroup>
</div>