@using Microsoft.JSInterop
@namespace Heron.MudCalendar
@inject IJSRuntime JsRuntime
@typeparam T

<div Class="@Classname" Style="@Style">
    <MudDropZone T="T" Identifier="@Position?.Item.Id" Style="height: 100%;">
        @ChildContent
    </MudDropZone>
</div>