@using Microsoft.JSInterop
@namespace Heron.MudCalendar
@inject IJSRuntime JsRuntime

<div Class="@Classname" Style="@Style">
    <MudDropZone T="CalendarItem" Identifier="@Position?.Item.Id" Style="height: 100%;">
        @ChildContent
    </MudDropZone>
</div>