@page "/calendar"

<div class="docs-page">
    <div class="docs-page-header mt-6 mb-12">
        <h3 class="mud-typography mud-typography-h3">Calendar</h3>
        <p class="mud-typography mud-typography-body1">Simple calendar component.</p>
    </div>

    <div class="docs-page-section">

        <div id="simple" class="docs-section-header" _bl_513="">
            <h5 class="mud-typography mud-typography-h5">
                <b>Simple</b>
            </h5>
            <p class="mud-typography mud-typography-body1 mb-5">
                TODO: Add description
            </p>
        </div>

        <SectionContent DarkenBackground="true" Code="SimpleCalendarExample" ShowCode="false" Block="true" FullWidth="true">
            <SimpleCalendarExample/>
        </SectionContent>

    </div>

    <div class="docs-page-section">

        <div id="custom" class="docs-section-header" _bl_513="">
            <h5 class="mud-typography mud-typography-h5">
                <b>Custom Items</b>
            </h5>
            <p class="mud-typography mud-typography-body1 mb-5">
                TODO: Add description
            </p>
        </div>

        <SectionContent DarkenBackground="true" Code="SimpleCalendarExample" ShowCode="false" Block="true" FullWidth="true">
            <CustomCalendarExample/>
        </SectionContent>

    </div>

    <div class="docs-page-section">

        <div id="appearance" class="docs-section-header" _bl_513="">
            <h5 class="mud-typography mud-typography-h5">
                <b>Modify Appearance</b>
            </h5>
            <p class="mud-typography mud-typography-body1 mb-5">
                TODO: Add description
            </p>
        </div>

        <SectionContent DarkenBackground="true" Code="SimpleCalendarExample" ShowCode="false" Block="true" FullWidth="true">
            <OptionsCalendarExample/>
        </SectionContent>

    </div>

    <div class="docs-page-section">

        <div id="templates" class="docs-section-header" _bl_513="">
            <h5 class="mud-typography mud-typography-h5">
                <b>Templates</b>
            </h5>
            <p class="mud-typography mud-typography-body1 mb-5">
                TODO: Add description
            </p>
        </div>

        <SectionContent DarkenBackground="true" Code="SimpleCalendarExample" ShowCode="false" Block="true" FullWidth="true">
            <TemplatesCalendarExample/>
        </SectionContent>

    </div>

    <div class="docs-page-section">

        <div id="views" class="docs-section-header" _bl_513="">
            <h5 class="mud-typography mud-typography-h5">
                <b>Restrict Views</b>
            </h5>
            <p class="mud-typography mud-typography-body1 mb-5">
                TODO: Add description
            </p>
        </div>

        <SectionContent DarkenBackground="true" Code="SimpleCalendarExample" ShowCode="false" Block="true" FullWidth="true">
            <RestrictViewsCalendarExample/>
        </SectionContent>

    </div>

    <div class="docs-page-section">

        <div id="data" class="docs-section-header" _bl_513="">
            <h5 class="mud-typography mud-typography-h5">
                <b>Load Data</b>
            </h5>
            <p class="mud-typography mud-typography-body1 mb-5">
                TODO: Add description
            </p>
        </div>

        <SectionContent DarkenBackground="true" Code="SimpleCalendarExample" ShowCode="false" Block="true" FullWidth="true">
            <LoadDataCalendarExample/>
        </SectionContent>

    </div>

    <div class="my-16">

    </div>
</div>