name: build-test-mudcalendar

on:
  workflow_dispatch:
  push:
    branches: [ dev ]

jobs:
  build-test:
    name: Build and test
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        dotnet-version: [ '8.0.x', '9.0.x', '10.0.x' ]

    steps:
      - name: Checkout MudCalendar repository
        uses: actions/checkout@v4

      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        id: stepid
        with:
          dotnet-version: ${{ matrix.dotnet-version }}

      - name: Restore
        run: dotnet restore Heron.MudCalendarWithDocs.sln

      - name: Build
        run: dotnet build -c Release -m:1 --no-restore
        working-directory: ./Heron.MudCalendar

      - name: Build
        run: dotnet build -c Release -m:1 --no-restore
        working-directory: ./Heron.MudCalendar.UnitTests

      - name: Test
        run: dotnet test -c Release --no-build --no-restore --blame-hang --blame-hang-timeout 60s /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura /p:ExcludeByAttribute='ExcludeFromCodeCoverageAttribute' /p:Include='[Heron.MudCalendar]*' /p:CoverletOutput='./TestResults/' --logger trx --results-directory "TestResults-${{ matrix.dotnet-version }}"
        working-directory: ./Heron.MudCalendar.UnitTests

      - name: Publish coverage
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: coverage.cobertura.xml
